extends layout

block imports
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/javascripts/index.js')

block content
  p#username= username
  a#logout(href="/logout") Log out
  ul#messages
    each raw in messages
      li= raw.message
  form#enter(action = '')
    input#m(autocomplete = 'off')
    button Send
